<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="com.lcqjoyce.dao.impl.UserDaoImpl"/>
    <bean id="permissionsDao" class="com.lcqjoyce.dao.impl.PermissionsDaoImpl"/>
    <bean id="menuDao" class="com.lcqjoyce.dao.impl.MenuDaoImpl"/>
    <bean id="deptDao" class="com.lcqjoyce.dao.impl.DeptDaoImpl"/>
    <bean id="employeeDao" class="com.lcqjoyce.dao.impl.EmployeeDaoImpl"/>
    <bean id="tran" class="com.lcqjoyce.My_JDBC.Transaction.impl.TransactionImpl"/>

    <bean id="userService" class="com.lcqjoyce.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="permissionsService" class="com.lcqjoyce.service.impl.PermissionsServiceImpl">
        <property name="permissionsDao" ref="permissionsDao"/>
        <property name="menuDao" ref="menuDao"/>
    </bean>

    <bean id="deptService" class="com.lcqjoyce.service.impl.DeptServiceImpl">
        <property name="deptDao" ref="deptDao"/>
        <property name="employeeDao" ref="employeeDao"/>
		<property name="transaction" ref="tran" />
    </bean>

    <bean id="employeeService" class="com.lcqjoyce.service.impl.EmployeeServiceImpl">
        <property name="employeeDao" ref="employeeDao"/>
        <property name="transaction" ref="tran" />
    </bean>


    <bean id="userAction" class="com.lcqjoyce.web.action.UserAction">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="ajaxAction" class="com.lcqjoyce.web.action.AjaxAction">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="deptAction" class="com.lcqjoyce.web.action.DeptAction">
        <property name="deptService" ref="deptService"/>
    </bean>

    <bean id="empAction" class="com.lcqjoyce.web.action.EmployeeAction">
        <property name="employeeService" ref="employeeService"/>
    </bean>
</beans>